body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(jake-weirick-581398-unsplash.jpg); /*Photo by Jake weirick on Unsplash*/
  background-size: cover;
  color: yellow; 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
